<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>
<div id="myCarousel" class="carousel slide">  
  <!-- Carousel items -->
  <div class="carousel-inner">
      <div class="item active">
		<div class="slider-caption"><h4> Katie and Brad </h4></div>
      </div>
      <div class="item">
        <div class="slider-caption"><h4>Nacara and Paul</h4></div>
      </div>
      <div class="item">
        <div class="slider-caption"><h4>Noel Felicity</h4></div>
      </div>
      <div class="item">
        <div class="slider-caption"><h4>Penny and Hugh</h4></div>
      </div>
      <div class="item">
        <div class="slider-caption"><h4>Sheryn and Phil</h4></div>
      </div>
  </div>
</div>



<% @videos.each do |video| %>
  <% if video.frontpage %>
 	<div class="container page">
      <div class="video-container">
        <%=raw "<iframe src='http://player.vimeo.com/video/" %><%=raw video.linkid %><%=raw "' frameborder='0'></iframe>" %>
      </div>
    </div>
    <% break %>
  <% end %>
<% end %>




  <span class="home_phrase">
    <%=raw @page.content_for(:home_phrase) %>
  </span>

