<li class="<%= gallery_beer_variety_class(gallery) %> beer-item">
  <%= link_to refinery.portfolio_gallery_path(gallery) do %>
    <% if gallery.cover_image.present? %>
      <%= image_fu gallery.cover_image.image, '200x600',
            {:title => gallery.cover_image.title} %>
    <% end %>

    <h2><%= gallery.title %></h2>
  <% end %>
</li>