<%- if galleries.present? -%>
<section id="options" class="container">
  <ul id="filters" class="galleries-filters option-set" data-option-key="filter">
    <li><a href="#filter" data-option-value="*" class="selected">Show all<div class="bgfade"></div></a></li>
    <% @varieties.each do |variety| %>
      <li><a class="notselected" href="#filter" data-option-value=".<%= gallery_variety_class(variety) %>"><%= variety.title %><div class="bgfade"></div></a></li>
    <% end %>
  </ul>
</section>

  <div id="container" class="sixteen columns galleries isotope">
    <%= render galleries %>
  </div>
<%- end -%>