<%- if galleries.present? -%>
<section id="options">
  <ul id="filters" class="galleries-filters option-set" data-option-key="filter">
    <li><a href="#filter" data-option-value="*">Show all</a></li>
    <% @varieties.each do |variety| %>
      <li><a href="#filter" data-option-value=".<%= gallery_variety_class(variety) %>"><%= variety.title %></a></li>
    <% end %>
  </ul>
</section>

  <div id="container" class="galleries isotope">
    <%= render galleries %>
  </div>
<%- end -%>