<%- if galleries.present? -%>
  <ul class="galleries-filters">
    <li><a href="#" data-filter="*">Show all</a></li>
    <% @varieties.each do |variety| %>
      <li><a href="#" data-filter=".<%= gallery_variety_class(variety) %>"><%= variety.title %></a></li>
    <% end %>
  </ul>

  <ul class="galleries">
    <%= render galleries %>
  </ul>
<%- end -%>
