<%- if items.present? -%>
<div class = "sixteen columns">

	<h2><%= @gallery.title %></h2><%= link_to "back to gallery", "/portfolio/galleries/beerfolio", :class => "backbutton" %>
	
  <ul class="gallery-items">
    <%= render items %>
  </ul>
</div>
<section id="hops">
	<% @gallery.hops.split(' ').each do |hop| %>
	<li><%= hop %></li>
	<% end %>
	</section>
	
<%- end -%>
