<div id="twitter-wrap" class="six columns">
	<h2>Tweets from the moon</h2>
 <ul id="twitter_update_list"> 
 <li>Loading Tweets..</li> 
 </ul> 
 <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/lovesyoudesign.json?callback=twitterCallback2&count=5">
 </script>
</div>
  <%= render '/refinery/brewing_beers/brewing_beers/beers' %>
</div>
<%= render '/refinery/social' -%>
<div class='container column'>
<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
</div>