<section id="twitter-wrap" class="six columns alpha">
	<h3>Tweets from the moon</h3>
 <ul id="twitter_update_list"> 
 <li>Loading Tweets..</li> 
 </ul> 
 <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/moondogbrewing.json?callback=twitterCallback2&count=5">
 </script>
</section>
<%= render '/refinery/brewing_beers/brewing_beers/beers' %>
