<div class="social container">
<ul class='three columns'>
	<li class='contact'>
		<h2><%= link_to "contact us", "/contact" %></h2>
	<li class="twitter">
		<%= link_to "twitter", "https://twitter.com/#!/moondogbrewing" %>
	</li>
	<li class="facebook">
		<%= link_to "facebook", "http://facebook.com/moondogbrewing" %>
	</li>
	<li class="email">
		<%= mail_to "josh@moondogbrewing.com.au", "email" %>
	</li>
</ul>
</div>
