<div class="social">
<ul>
	<li class="twitter">
		<%= link_to "twitter", "https://twitter.com/#!/moondogbrewing" %>
	</li>
	<li class="facebook">
		<%= link_to "facebook", "http://facebook.com/moondogbrewing" %>
	</li>
	<li class="email">
		<%= mail_to "josh@moondogbrewing.com.au", "email" %>
	</li>
</ul>