/* Styles by Loves You Design 2012*/

$blue: #273039;
$white: #ebebeb;
$moonshine: "moonshine_smallcapsMedium";
/*aaron mini reset*/
a{
    text-decoration:none;
    }
p {
	font-family: 'Lato', sans-serif;
}
a {
	font-family: 'Lato', sans-serif;
	font-variant:small-caps;
	text-transform:lowercase;
}
ul, ol {
	margin-bottom:0;
}

/*typography*/



h1, h1 a, h1 a:visited {
	font-family:'Arvo';
	font-weight:bold;
	font-variant:inherit;
	}
h2, h2 a, h2 a:visited {
	font-family:'Arvo';
	font-size:30px;
	font-variant:inherit;
}
h2.page-title{
	padding-top:10px;
	}
h3 {
	font-family:'Arvo';
	font-size:20px;
	font-weight:bold;
	}
.home_phrase p {
    font-size: 36pt;
    text-align: center;
    padding-top:25px;
    padding-bottom:50px;
    line-height:150%;
}

/*menu including sticky nav*/

    #sticky {
margin-top: 45px;
z-index: 999;
/*float: left;
margin-right: -100px;
padding-right: 100px;*/

  
}
#sticky {
	float:right;
	}
.stickytoolbar-bar{
	width:auto;
	} 


.logo img {
	max-width: 190px;
	padding: 10px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);

	}

nav ul li, nav ul li a, nav ul li a:visited {
     display: inline;
    padding-left:6px;
    padding-right:6px;
    float:left;
    color:white;
    font-family: $moonshine, serif;
	font-weight: bold;
	font-size: 28px;
	text-transform:uppercase;
	letter-spacing:2px;
}
img {z-index:0;}
@-webkit-keyframes fadein {
    0% { margin-top:-20px; }
  100% { margin-top:0px;display:block; }
}
@-webkit-keyframes fadeout {
    0% { background-color:$blue; }
  100% { background:none; }
}

.stickytoolbar-fixed{
-webkit-animation: fadein 0.5s;
background-color:$blue;
padding-top:15px;
z-index:1;
border-radius:10px;
opacity:0.75;
    }
.onStaticClass{
width:100%;
float:left;
-webkit-animation:fadeout 0.5s;
}


.top{
	height:50px;
	}
    .my-wrapper {
	float:left;
    }

    #sticker {
padding-top:15px;
z-index:5;
border-radius:10px;
opacity:0.85;
margin-left:20px;
float:left;
    }

   .sticky  {
   	background-color:$blue;

   top:0;
	-webkit-animation:fadein 0.5s;
    }

  
/*setting up basic structural styles site-wide*/
.pagetop {
	/*background-image:url("/images/header_background.png");
	background-repeat:no-repeat;
	background-size:99%;*/
	width:100%;
}
.container header {
	margin-right:50px;
	padding-right:50px;
}
body {
    background:url("/images/moon_background2.jpg");
    background-repeat:none;
    background-size:100%;
    background-attachment:fixed;
    }
    
.page {
    box-shadow:0px 0px 20px grey;
    margin-left:0;
    margin-right:0;
    background-color:$white;
    border-radius:10px;
    border:4px solid darken($white, 10%);
    }
.page .columns {
    margin-left:10;
    margin-right:10;
    }
    
/*home page specific*/



/*make video elastic */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	width:100%;
	margin-left:0px;
	z-index:0;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media only screen and (max-width: 767px) {
.video-container {
	margin:0;
	width:100%; 
	}
	}


    
/*footer*/
.social > ul{
	float:right;
	}
.social > .copyright {
	float:right;
	clear:right;
	}
.social ul li {
    list-style:none;
    padding:20px 5px 0 5px;
    float:left
    }
    
#twitter-wrap { 
max-width: 450px; //The width of the player - this is the maximum width it can extend to! 
font-family: 'Lato', sans-serif; //The tickers font 
text-align: left; 
margin: 0 auto;
height:90px;
} 
 
ul#twitter_update_list li { 
display: block; 
max-width: 400px; 
font-family: 'Lato';
font-size: 14px;
}

footer.container {
	border-top: 1px dotted black;
	padding-top:20px;
	margin-top:20px;
}
/*blog*/
	
.details {
    font-family: 'Lato';
    font-style: italic;
    font-weight:light;
    padding-bottom:10px;
    
    }

.blog_post {
    border-bottom:1px dotted black;
    padding-top:10px;
    }

.blogside {
padding-top:10px;
}
.blogside h1 {
	margin-left:10px;
	}
.blog_post:last-child {
    border-bottom:none;
    }
/*portfolio*/
ul#filters li {
    float:left;
    width:120px;
	height:60px;
	text-align:center;
	
	&:nth-child(1) {
		padding-left:0;
		}
    a {   	
    	font-family: "Lato", "sans-serif";
		font-size: 16px;
		color: rgba(0, 0, 0, 0.8);
		margin-top: 10px;
		position: relative;
		font-weight: bold;
		height: 100%;
		display: block;
		vertical-align: middle;
		padding-top: 20px;
		z-index:1;
		
		}
	}
.bgfade {
	background:url('/images/filter_li_bg.png');
	position: absolute;
	width: 120px;
	height: 60px;
	top: 0;
	background-repeat:no-repeat;
	background-position:0 0;
	z-index:-1;
}
ul#filters li a.notselected {
	color: rgba(0, 0, 0, 0.8);
	.bgfade{
		opacity:0;
		-webkit-transition: opacity 0.5s linear;
		-moz-transition: opacity 0.5s linear;
		transition: opacity 0.5s linear;
	
		}
	}
ul#filters li a.selected {
	color:rgba(255,255,255,0.8);
	.bgfade{
		opacity:1;
		-webkit-transition: background 0.5s linear;
		-moz-transition: background 0.5s linear;
		transition: background 0.5s linear;
	}
}
/*
ul#filters li a.selected {
	background:transparent;
	background:url('/images/filter_li_bg.png');
	background-repeat:no-repeat;
	background-position:0 0;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	transition: background 0.5s linear;
	a {
		color:rgba(255,255,255,0.8);
	}
}*/
.galleries li {
	float:left;
	list-style:none;
	padding-right:20px;
	width:170px;
	img {width:175px; height:auto;
	}
	h2 {font-size:24px;line-height:100%;}
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
    
